body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}
#body {
  background-color: #efeeef;
  clear: both;
  padding-bottom: 35px;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;
}
.main-content {
  margin: 0 auto;
  padding-left: 10px;
  padding-top: 30px;
  background: url(accent.png) no-repeat;
  background-position-x: 30px;
  position: relative;
}
.MainTop {
  display: block;
  position: relative;
  height: 102px;
  margin-left: 28px;
}
h1.SeoH1 {
  text-indent: -9990px;
  position: absolute;
  z-index: -1;
}
.site-title {
  display: block;
  color: #8dc63e;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin: 8px 0 0 5px;
  background-image: url(LogoSideM.png);
  background-repeat: no-repeat;
  width: 384px;
  height: 89px;
  max-width: 97vw;
  box-sizing: border-box;
}
.featureBig {
  width: 44%;
  border: 1px solid grey;
  border-radius: 2px;
  background: none;
  background-color: #fcfcfc;
  float: none;
  margin: 0 auto 0 auto;
  min-height: 200px;
  text-align: center;
  padding: 10px 15px 20px 10px;
  position: relative;
}
h2 {
  color: #013d7a;
  margin-bottom: 1em;
  font-size: 21px;
  line-height: 40px;
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility;
}
footer {
  position: fixed;
  padding: 0 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e2e2e2;
  font-size: .8em;
  height: 100px;
}
.copyright {
  float: left;
  margin-top: 9px;
}
.float-right {
  float: right;
}
ul#social {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul#social li {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  line-height: 20px;
}
ul#social li a {
  color: #999;
  text-decoration: none;
  display: inline-block;
  height: 25px;
  width: 24px;
  background: url(social.png) no-repeat;
  margin-top: 3px;
}
ul#social li a.twitter {
  background-position: -98px -2px;
}
ul#social li a.gplus {
  background-position: -34px -2px;
}
ul#social li a.facebook {
  background-position: -2px -2px;
}